src/main/webapp/wsdl/BrokerWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:schema="http://dto.eis.broker.sample.com/" 
	xmlns:tns="http://dto.eis.broker.sample.com/"
	targetNamespace="http://dto.eis.broker.sample.com/"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
    xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" >

	<!-- Schema Import -->

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://dto.eis.broker.sample.com/"
				schemaLocation="broker.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- Messages: Request and Response used in portType -->


	<wsdl:message name="GetSessionRequest">
		<wsdl:part name="parameters" element="schema:GetSessionRequest" />
	</wsdl:message>
	<wsdl:message name="GetSessionResponse">
		<wsdl:part name="parameters" element="schema:GetSessionResponse" />
	</wsdl:message>


	<wsdl:message name="GetCountriesRequest">
		<wsdl:part name="parameters" element="schema:GetCountriesRequest" />
	</wsdl:message>
	<wsdl:message name="GetCountriesResponse">
		<wsdl:part name="parameters" element="schema:GetCountriesResponse" />
	</wsdl:message>


	<!-- PortType used en binding -->

	<wsdl:portType name="BrokerEndpoint">

		<wsdl:operation name="GetSession">
			<wsdl:input message="tns:GetSessionRequest" />
			<wsdl:output message="tns:GetSessionResponse" />
		</wsdl:operation>

		<wsdl:operation name="GetCountries">
			<wsdl:input message="tns:GetCountriesRequest" />
			<wsdl:output message="tns:GetCountriesResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<!-- Binding: operations -->

	<wsdl:binding name="BrokerHTTPPortBinding" type="tns:BrokerEndpoint">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetSession">
			<soap:operation soapAction="http://broker.sample.com/GetSession" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#GetSessionInputPolicy"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#GetSessionOutputPolicy"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetCountries">
			<soap:operation soapAction="http://broker.sample.com/GetCountries" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#SecurityInputPolicy"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#SecurityOutputPolicy"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<!-- service -->

	<wsdl:service name="BrokerService">
		<wsdl:port name="BrokerHTTPPort" binding="tns:BrokerHTTPPortBinding">
			<soap:address
				location="http://localhost:8080/ws-security/services/BrokerWS" />
		</wsdl:port>
	</wsdl:service>


	<!-- policies -->
	
	<wsp:Policy wsu:Id="GetSessionInputPolicy">
    	<wsp:All>
    		<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
    			<wsp:Policy>
					<sp:WssUsernameToken11 />
					<sp:HashPassword />
					<sp13:Created />
        			<sp13:Nonce />
				</wsp:Policy> 
    		</sp:UsernameToken>
        	<sp:EncryptedParts>
            		<sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
            </sp:EncryptedParts>
           	<sp:SignedParts>
                    <sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
            </sp:SignedParts>
        </wsp:All>
    </wsp:Policy>
	<wsp:Policy wsu:Id="GetSessionOutputPolicy">
        <wsp:All>
        	<sp:EncryptedParts>
            		<sp:Body />
            </sp:EncryptedParts>
           	<sp:SignedParts>
                    <sp:Body />
            </sp:SignedParts>
        </wsp:All>
    </wsp:Policy>
        
	
	<wsp:Policy wsu:Id="SecurityInputPolicy">
    	<wsp:All>
        	<sp:EncryptedParts>
            		 <sp:Body />
            </sp:EncryptedParts>
           	<sp:SignedParts>
                     <sp:Body />
            </sp:SignedParts>
        </wsp:All>
    </wsp:Policy>
	<wsp:Policy wsu:Id="SecurityOutputPolicy">
        <wsp:All>
        	<sp:EncryptedParts>
            		<sp:Body />
            </sp:EncryptedParts>
           	<sp:SignedParts>
                    <sp:Body />
            </sp:SignedParts>
        </wsp:All>
    </wsp:Policy>
    
</wsdl:definitions>
